body {
    font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-buttons a button {
    background-color: #f0f0f0;
    border: none;         
    padding: 8px 8px;     
    margin: 5px;            
    cursor: pointer;
    outline: none;          
    border-radius: 0;       
}

.contact-buttons a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.contact-buttons a button:hover {
    background-color: #e0e0e0;
}

.contact-buttons i {
    font-size: 18px;
    color: #333;
}